/example/PivotWebApplication/.vs/PivotWebApplication/v14/.suo
/example/PivotWebApplication/.vs/config/applicationhost.config
/example/PivotWebApplication/PivotWebApplication/bin
/example/PivotWebApplication/PivotWebApplication/obj
/example/PivotWebApplication/packages
